body {
    background: linear-gradient(to left, pink, yellow);
}
div{
    border: 2px solid black;
    width: 500px;
    margin-left:400px;
}

form {
    margin-left: 100px;
} label {
    font-size: 20px;
    font-weight: bold;
}  
#pdf {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#upload {
    font-size: 20px;
    font-weight: bold;
    margin-left:100px;
} 